<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/luxonauta/luxa@1.1/dist/expanded/luxa.css"
  />

    <link rel="stylesheet" href="styles.css" />

  </head>
  <body>
    <!-- <h1 class= "img-homepage">
      <img src="../image.jfif" alt="icon"/>
    </h1> -->
    <form action="/create" method="POST">
      <h1>Create your DevCard</h1>

      <textarea id="fullName" name="fullName" rows="3" cols="30" placeholder="Your Full name"></textarea>
      <textarea id="aboutMe" name="aboutMe" rows="5" cols="30" placeholder="About Me"></textarea>

      <textarea name="githubUrl" id="githubUrl" cols="30" rows="3" placeholder="Github URL"></textarea>
      <textarea name="twitterUrl" id="twitterUrl" cols="30" rows="3" placeholder="Twitter URL"></textarea>
      <textarea name="favoriteBooks" id="favoriteBooks" cols="30" rows="3" placeholder="Faourite Books (Seperate by comma)"></textarea>
      <textarea name="favoriteArtists" id="favoriteArtists" cols="30" rows="3" placeholder="Favourite Artist (seperate by comma)"></textarea>
      
      <button type="Create site" class="Create-sites-btn"> Create Site</button>
    </form>
  </body>
</html>
